{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1633265486064-086b219458ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Account</h1>
            <span class="subheading">Update your account details</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
    {% if messages %}
       <ul class="flashes">
    {% for message in messages %}
        <li><p style="color: red;">{{ message }}</p></li>
    {% endfor %}
        </ul>
        {% endif %}
{% endwith %}
      <div class="col-lg-8 col-md-10 mx-auto">

       {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}